<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <title><%= header %></title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">E-Commerce</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                    <%  pages.forEach(function(page){%>
                    <% if(page.title != 'Home') {%>
                <li class="nav-item active">
                    <a class="nav-link" href="/pages/<%= page.slug %>"><%= page.title %><span class="sr-only">(current)</span></a>
                </li>
                <% } %>
                <% }); %>

            </ul>
            <ul class="nav navbar-nav">
                <li class="nav-link">
                    <a href="/cart/checkout">My Cart(
                        <% if(typeof cart !== "undefined"){ %>
                            <%= cart.length %>
                    <% } else{ %>
                        0
                        <% } %>
                    
                    )</a>
                </li>
                <% if(user){ %>
                    <li><a class="nav-link" href="/user/logout"><%= user.name %>(Logout)</a></li>
                    <% } else {%>
                <li><a class="nav-link" href="/user/Register">Register</a></li>
               
            </ul>
            <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/user/login">Log-In <span class="sr-only">(current)</span></a>
                    </li>
                    </ul>
                   
            <% } %>
            <% if (user && user.admin == 1) { %>
                <li><a class="nav-link" href="/admin/pages">Admin Area</a></li>
                <% }%>
            <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
           
            
          
        
        </div>
    </nav>
    <div class="container">
            <%- messages('messages', locals) %>

            <% if(errors) {%>
            <% errors.forEach(function(error){ %>
            <div class="alert-danger">
                <%= error.msg %>
            </div>
            <% }); %>
            <% } %>

            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <h4>Categories</h4>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="/products">All Products</a>
                        </li>
                        <% Categories.forEach(function(cat){%>
                            
                            <li class="list-group-item"><a href="/products/<%= cat.slug %>"><%= cat.title %></a>
                                </li>
                            <% }); %>
                    </ul>
                </div>
                <div class="col-sx-12">

                </div>
                <div class="col-xs-12 col-md-8">
                    

  