<% include ../adminheader.ejs %>

<link rel="stylesheet" href="/styles/showPagesTable.css">
<div class="container">
    <h2 class="page-title">Products</h2>
    <hr>
    <h3><a href="/admin-products/create" class="btn btn-primary">Add Products</a></h3>
    <link rel="stylesheet" href="/styles/showPagesTable.css">
    <h6 class="text-muted ">The Delete Action is not reversible</h6>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product Title</th>
                <th>Category</th>
                <th>Price</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% product.forEach(function(product){ %>
            <tr>
                <td><a href="" class="btn btn-default"><%= product.title %></a></td>

                <td><a href="" class="btn btn-default"> <%= product.category %></a></td>

                <td><a href="" class="btn btn-default">&#8377;<%= product.price %></a></td>

                <td><a href="/admin-products/edit/<%= product._id %>" class="btn"><i class="fa fa-pencil-square-o"
                            aria-hidden="true">Edit</i></a></td> 
                           
                <td>
                    <form action="/admin-products/delete/<%= product._id %>?_method=DELETE" method="POST"><button
                        class="btn btn-default" type="submit"><i class="fa fa-trash-o" aria-hidden="true">Delete</i></button>
                    </form>
                </td>

            </tr>
            <% }); %>
        </tbody>
    </table>
</div>


<% include ../adminfooter.ejs %>